html, body {
  font: 1em "Trebuchet MS";
  color: #333333;
}
body {
  background: url(/images/crowd.jpg) no-repeat fixed center;
  a {
    text-decoration: none;
    color: #8b0000;
  }
  #wrapper-outer, #wrapper-inner {
    -webkit-box-shadow: 0px -1px 10px black;
    box-shadow: 0px -1px 10px black;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
  }

  section {
    margin: 0 20px;
    #content {
      width: 100%;

      #search {
        width: 800px;
        margin: 50px auto 10px auto;
        input[type=text] {
          width: 700px;
          height: 40px;
          font-size: 1em;
          padding: 0px 0 0 10px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border: 1px solid #8b0000;
        }
        input[type=submit] {
          height: 42px;
          color: darkred;
          background-color: #ffffff;
          border: 1px solid #8b0000;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          position: relative;
          top: 0;
          left: -8px;
          width: 45px;
          text-transform: uppercase;
          font-family: 'Exo';
          font-size: 1.2em;
        }
      }

      #results {
        .row {
          border: 1px solid #333;

          &.twitter {
            background: url(/images/twitter.png) no-repeat -2px 10px;
            padding: 24px 0 24px 40px;
          }
          &.reddit {
            background: url(/images/reddit.png) no-repeat -2px 10px;
            padding: 24px 0 24px 40px;
          }
        }

        &.loading {
          height: 80px;
          background: url(/images/loading.gif) no-repeat 450px;
        }
      }
    }
  }

  header {
    width: 1000px;
    background-color: #eee;
    height: 30px;
    border-bottom: 1px solid #ccc;
    nav {
      float: left;
      li a {
        font-family: 'Exo', sans-serif;
        font-size: 1.4em;
        color: #8b0000;
        padding: 0 0 0 20px;
        background-color: #eee;
        &:hover {
          color: #dc143c;
        }
      }
    }
    nav {

      ul {
        list-style-type: none;

        li {
          float: left;
        }
      }
    }
  }
}