#search
  %p
    %input{:type => "text", :id => "q", :name => "q",:placeholder => "enter a term to search the social sphere"}
    %input{:type => "submit", :value => "go", :id => "s", :name => "s"}
#results