#search
  %p
    %input{:type => "text", :id => "q", :name => "q",:placeholder => "enter a regular expression term to find matching reddit submissions"}
    %input{:type => "submit", :value => "go", :id => "s", :name => "s"}